.sliderclass {
    
    margin-left: -47px;
    margin-right: -40px;
    margin-top: -17px;
    margin-bottom:10px; 
  }
  @keyframes slider {
    0% {
      left: 0;
    }
  
    20% {
      left: -100;
    }
  
    25% {
      left: -100%;
    }
  
    45% {
      left: -200%;
    }
  
    50% {
      left: -200%;
    }
  
    70% {
      left: -300%;
    }
  
    75% {
      left: -300%;
    }
  
    95% {
      left: -400%;
    }
  
    100% {
      left: -400%;
    }
  }
  
  #slider {
    overflow: hidden;
  }
  
  #slider figure img {
    width: 20%;
    height: 20%;
    float: left;
    box-shadow: inset 40px 40px 40px 40px #ADADAD;
  }
  
  #slider figure {
    position: relative;
    width: 500%;
    margin-top: 3px;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;
  }
  