<div class="container">
  <div id="slider" class="sliderclass">
    <figure>
      <a href="http://www.google.com"><img src="assets/images/30.jpg" style="height: 300px;"> </a>
      <a href="http://www.google.com"><img src="assets/images/ng-nl.png" style="height: 300px;"></a>
      <a href="http://www.google.com"><img src="assets/images/basic-shield.png" style="height: 300px;"> </a>
      <a href="http://www.google.com"><img src="assets/images/blackf.jpg" style="height: 300px;"> </a>
      <a href="http://www.google.com"><img src="assets/images/CardImage.jpg" style="height: 300px;"></a>
    </figure>
  </div>
</div>
